$green: #7DC051;
$commongrey: #7C7C7C;
$charcoal: #26323F;
$red: #ec2327;
$charcoal-transparent: rgba(38, 50, 63, 0.4);
$oswald: 'Oswald', sans-serif;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$breakpoints: (
        'only screen and (min-width: 0px) and (max-width: 1023px)' 'small',
        'only screen and (min-width: 1024px)' 'large'
);
